body{
    background-color:white;
    
  }
    h1{
    color:black;
    font-size:40px;
  }
  h2{
    font-style:italic;
  }
  .store{
    display:flex;
    margin-right:100px;
  
    padding:70px;
    color:black;
    font-size:20px;
    position:relative;
    justify-content:space-between;
  }
  #style{
    margin:30px;
  }
  .none{
    text-align:center;
  }
  #page1{
    color:black;
    text-align:center;
    margin:10%;
    font-weight:bold;
    padding:20px;
  }
  h4{
    margin:10px;
    text-align:center;
    background-color:black;
    color:white;
    font-weight:bold;
  
  }
  img:hover{
    transform:scale(1.2);
    
  }