h4{
  
    margin:10px;
    text-align:center;
    background-color:black;
    color:white;
  }
  h1{
    text-align:center;
  }
    .first{
    display:flex;
    margin:10px;
    padding:20px;
    color:white;
    font-size:20px;
    position:relative;
    justify-content:space-around;
    
  }
  .first #usanase p:hover{
     color:white;
    border:1px solid black;
    background-color:black;
  }
  h2{
    color:black;
  }
  .head2 {
    
  display:flex;
    flex-direction:row;
    
  }
  #head{
    display:flex;
    justify-content:flex-end;
    text-align:center;
    padding:50px;
    
  }
  #title{
    display:flex;
    justify-content:center;
   
  }
  #photo{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    
  
    
  }
   .page{
    text-align:center;
    font-weight:bold;
    padding-bottom:600px;
    margin:30%;
    color:white;
    font-weight:bold;
  }